.carousel-cell {
    width: 100%; 
    height: 50vh;
    min-height: 250px;
    margin-right: 10px;
    background-size: cover;
  }
.container {
    max-width: 500px;
    margin: 0 auto;
    color: white;
    p {
        text-align: center;
        font-size: 30px;
        text-shadow: 1px 1px black;
    }
}
.flickity-page-dots {
    bottom: 0px;
    display: none;
  }

.main-container {
    position: relative;
}

.button {
    position: absolute;
    bottom: 40px;
    right: 20px;
    text-shadow: 1px 1px black;
    color: white;
    font-size: 20px;
    border-radius: 15%;
    background-color: rgba(255, 255, 255, 0.158);
}

#scroll {
    height: 20px;
    background-color: grey;
    width: 0%;
    transition: 0.1s;
}